        
/* `Conteudo (views)
----------------------------------------------------------------------------------------------------*/

/* Mostrar Grade 12 Colunas
----------------------------------------------------------------------------------------------------*/
.conteudo_12 {
/*  background-image: url(images/12_col.gif);*/
}

/* Mostrar Grade 16 Colunas
----------------------------------------------------------------------------------------------------*/
.conteudo_16 {
  /*background-image: url(images/16_col.gif);*/
}

.conteudo_12,
.conteudo_16 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.conteudo_12 p,
.conteudo_16 p {    
  margin-bottom: 5px; /* Espaçamento Entre Label e Campo - Tag <p> */
  font-weight: bold;
}

.conteudo_16 .labelText{    
    border-style: solid ;
    border-color: #ABADB3; 
    border-width: 1px; 
    height: 18px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px;
    font-weight: normal;
}

/* Grade >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative;
}

.conteudo_12 .grid_3,
.conteudo_16 .grid_4 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 220px;
}
    .conteudo_16 .grid_4 p{
        width: 220px;
    }
    .conteudo_16 .grid_4 .labelText{
        width: 220px;
    }
    .conteudo_16 .grid_4 input{
        width: 220px;
    }
    .conteudo_16 .grid_4 select{
        width: 220px;
    }

.conteudo_16 .grid_4 .botao{
    margin-top: 10px;
}

.conteudo_12 .grid_6,
.conteudo_16 .grid_8 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 460px;
}
    .conteudo_16 .grid_8 p{
        width: 460px;
    }
    .conteudo_16 .grid_8 .labelText{
        width: 460px;
    }
    .conteudo_16 .grid_8 input{
        width: 460px;
    }
    .conteudo_16 .grid_8 select{
        width: 460px;
    }

.conteudo_12 .grid_9,
.conteudo_16 .grid_12 {
  width: 700px;
}

.conteudo_12 .grid_12,
.conteudo_16 .grid_16 {
  width: 940px;
}

/* Grade >> Filhos (Primeiro, Segundo, Proximo)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grade >> 12 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .grid_1 {
  width: 60px;
}

.conteudo_12 .grid_2 {
  width: 140px;
}

.conteudo_12 .grid_4 {
  width: 300px;
}

.conteudo_12 .grid_5 {
  width: 380px;
}

.conteudo_12 .grid_7 {
  width: 540px;
}

.conteudo_12 .grid_8 {
  width: 620px;
}

.conteudo_12 .grid_10 {
  width: 780px;
}

.conteudo_12 .grid_11 {
  width: 860px;
}

/* Grade >> 16 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_16 .grid_1 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 40px;
}
    .conteudo_16 .grid_1 p{
        width: 40px;
    }
    .conteudo_16 .grid_1 .labelText{
        width: 40px;
    }
    .conteudo_16 .grid_1 input{
        width: 40px;
    }
    .conteudo_16 .grid_1 select{
        width: 40px;
    }


.conteudo_16 .grid_2 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100px;
}
    .conteudo_16 .grid_2 p{
        width: 100px;
    }
    .conteudo_16 .grid_2 .labelText{
        width: 100px;
    }
    .conteudo_16 .grid_2 input{
        width: 100px;
    }
    .conteudo_16 .grid_2 input[type="submit"]{
        width: 100px;
        margin-top: 10px;
    }
    
    .conteudo_16 .grid_2 select{
        width: 100px;
    }
    .conteudo_16 .cabecalho-logo{
        
    }
    .conteudo_16 .cabecalho-login{
        margin-top: 200px;
        text-align: right;
        font: bold 12px/15px sans-serif;
    }
    .conteudo_16 .grid_2 p.branco{
        margin-top: 20px;
    }
    
.conteudo_16 .grid_3 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 160px;
}
    .conteudo_16 .grid_3 p{
        width: 160px;
    }
    .conteudo_16 .grid_3 .labelText{
        width: 160px;
    }
    .conteudo_16 .grid_3 input{
        width: 160px;        
    }
    .conteudo_16 .grid_3 input[type="submit"]{
        width: 160px;
        margin-top: 10px;
    }       
    .conteudo_16 .grid_3 select{
        width: 160px;
    }

.conteudo_16 .grid_5 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 280px;
}
    .conteudo_16 .grid_5 p{
        width: 280px;
    }
    .conteudo_16 .grid_5 .labelText{
        width: 280px;
    }
    .conteudo_16 .grid_5 input{
        width: 280px;
    }
    .conteudo_16 .grid_5 select{
        width: 280px;
    }

.conteudo_16 .grid_6 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 340px;
}
    .conteudo_16 .grid_6 p{
        width: 340px;
    }
    .conteudo_16 .grid_6 .labelText{
        width: 340px;
    }
    .conteudo_16 .grid_6 input{
        width: 340px;
    }
    .conteudo_16 .grid_6 select{
        width: 340px;
    }

.conteudo_16 .grid_7 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 400px;
}
    .conteudo_16 .grid_7 p{
        width: 400px;
    }
    .conteudo_16 .grid_7 .labelText{
        width: 400px;
    }
    .conteudo_16 .grid_7 input{
        width: 400px;
    }
    .conteudo_16 .grid_7 select{
        width: 400px;
    }

.conteudo_16 .grid_9 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 520px;
}
    .conteudo_16 .grid_9 p{
        width: 520px;
    }
    .conteudo_16 .grid_9 .labelText{
        width: 520px;
    }
    .conteudo_16 .grid_9 input{
        width: 520px;
    }
    .conteudo_16 .grid_9 select{
        width: 520px;
    }

.conteudo_16 .grid_10 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 580px;
}
    .conteudo_16 .grid_10 p{
        width: 580px;
    }
    .conteudo_16 .grid_10 .labelText{
        width: 580px;
    }
    .conteudo_16 .grid_10 input{
        width: 580px;
    }
    .conteudo_16 .grid_10 select{
        width: 580px;
    }

.conteudo_16 .grid_11 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 640px;
}
    .conteudo_16 .grid_11 p{
        width: 640px;
    }
    .conteudo_16 .grid_11 .labelText{
        width: 640px;
    }
    .conteudo_16 .grid_11 input{
        width: 640px;
    }
    .conteudo_16 .grid_11 select{
        width: 640px;
    }
    .conteudo_16 .cabecalho-titulo{
        height: 50px;
        margin-top: 15px;
        text-align: center;
        font: bold 20px/45px sans-serif;
    }

.conteudo_16 .grid_13 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 760px;
}
    .conteudo_16 .grid_13 p{
        width: 760px;
    }
    .conteudo_16 .grid_13 .labelText{
        width: 760px;
    }
    .conteudo_16 .grid_13 input{
        width: 760px;
    }
    .conteudo_16 .grid_13 select{
        width: 760px;
    }

.conteudo_16 .grid_14 {
    margin-top: 7px;
    margin-bottom: 7px;    
    width: 820px;
}
    .conteudo_16 .grid_14 p{
        width: 820px;
    }
    .conteudo_16 .grid_14 .labelText{
        width: 820px;
    }
    .conteudo_16 .grid_14 input{
        width: 820px;
    }
    .conteudo_16 .grid_14 select{
        width: 820px;
    }

.conteudo_16 .grid_15 {
    margin-top: 7px;
    margin-bottom: 7px;
    width: 880px;
}
    .conteudo_16 .grid_15 p{
        width: 880px;
    }
    .conteudo_16 .grid_15 .labelText{
        width: 880px;
    }
    .conteudo_16 .grid_15 input{
        width: 880px;
    }
    .conteudo_16 .grid_15 select{
        width: 880px;
    }

/* Espaço Extra >> Global
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .prefix_3,
.conteudo_16 .prefix_4 {
  padding-left: 240px;
}

.conteudo_12 .prefix_6,
.conteudo_16 .prefix_8 {
  padding-left: 480px;
}

.conteudo_12 .prefix_9,
.conteudo_16 .prefix_12 {
  padding-left: 720px;
}

/* Espaço Extra >> 12 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .prefix_1 {
  padding-left: 80px;
}

.conteudo_12 .prefix_2 {
  padding-left: 160px;
}

.conteudo_12 .prefix_4 {
  padding-left: 320px;
}

.conteudo_12 .prefix_5 {
  padding-left: 400px;
}

.conteudo_12 .prefix_7 {
  padding-left: 560px;
}

.conteudo_12 .prefix_8 {
  padding-left: 640px;
}

.conteudo_12 .prefix_10 {
  padding-left: 800px;
}

.conteudo_12 .prefix_11 {
  padding-left: 880px;
}

/* Espaço Extra >> 16 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_16 .prefix_1 {
  padding-left: 60px;
}

.conteudo_16 .prefix_2 {
  padding-left: 120px;
}

.conteudo_16 .prefix_3 {
  padding-left: 180px;
}

.conteudo_16 .prefix_5 {
  padding-left: 300px;
}

.conteudo_16 .prefix_6 {
  padding-left: 360px;
}

.conteudo_16 .prefix_7 {
  padding-left: 420px;
}

.conteudo_16 .prefix_9 {
  padding-left: 540px;
}

.conteudo_16 .prefix_10 {
  padding-left: 600px;
}

.conteudo_16 .prefix_11 {
  padding-left: 660px;
}

.conteudo_16 .prefix_13 {
  padding-left: 780px;
}

.conteudo_16 .prefix_14 {
  padding-left: 840px;
}

.conteudo_16 .prefix_15 {
  padding-left: 900px;
}

/* Sufixo Espaço Extra >> Global
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .suffix_3,
.conteudo_16 .suffix_4 {
  padding-right: 240px;
}

.conteudo_12 .suffix_6,
.conteudo_16 .suffix_8 {
  padding-right: 480px;
}

.conteudo_12 .suffix_9,
.conteudo_16 .suffix_12 {
  padding-right: 720px;
}

/* Sufixo Espaço Extra >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .suffix_1 {
  padding-right: 80px;
}

.conteudo_12 .suffix_2 {
  padding-right: 160px;
}

.conteudo_12 .suffix_4 {
  padding-right: 320px;
}

.conteudo_12 .suffix_5 {
  padding-right: 400px;
}

.conteudo_12 .suffix_7 {
  padding-right: 560px;
}

.conteudo_12 .suffix_8 {
  padding-right: 640px;
}

.conteudo_12 .suffix_10 {
  padding-right: 800px;
}

.conteudo_12 .suffix_11 {
  padding-right: 880px;
}

/* Sufixo Espaço Extra>> 16 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_16 .suffix_1 {
  padding-right: 60px;
}

.conteudo_16 .suffix_2 {
  padding-right: 120px;
}

.conteudo_16 .suffix_3 {
  padding-right: 180px;
}

.conteudo_16 .suffix_5 {
  padding-right: 300px;
}

.conteudo_16 .suffix_6 {
  padding-right: 360px;
}

.conteudo_16 .suffix_7 {
  padding-right: 420px;
}

.conteudo_16 .suffix_9 {
  padding-right: 540px;
}

.conteudo_16 .suffix_10 {
  padding-right: 600px;
}

.conteudo_16 .suffix_11 {
  padding-right: 660px;
}

.conteudo_16 .suffix_13 {
  padding-right: 780px;
}

.conteudo_16 .suffix_14 {
  padding-right: 840px;
}

.conteudo_16 .suffix_15 {
  padding-right: 900px;
}

/* Puxar Espaço >> Global
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .push_3,
.conteudo_16 .push_4 {
  left: 240px;
}

.conteudo_12 .push_6,
.conteudo_16 .push_8 {
  left: 480px;
}

.conteudo_12 .push_9,
.conteudo_16 .push_12 {
  left: 720px;
}

/* Puxar Espaço >> 12 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .push_1 {
  left: 80px;
}

.conteudo_12 .push_2 {
  left: 160px;
}

.conteudo_12 .push_4 {
  left: 320px;
}

.conteudo_12 .push_5 {
  left: 400px;
}

.conteudo_12 .push_7 {
  left: 560px;
}

.conteudo_12 .push_8 {
  left: 640px;
}

.conteudo_12 .push_10 {
  left: 800px;
}

.conteudo_12 .push_11 {
  left: 880px;
}

/* Puxar Espaço >> 16 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_16 .push_1 {
  left: 60px;
}

.conteudo_16 .push_2 {
  left: 120px;
}

.conteudo_16 .push_3 {
  left: 180px;
}

.conteudo_16 .push_5 {
  left: 300px;
}

.conteudo_16 .push_6 {
  left: 360px;
}

.conteudo_16 .push_7 {
  left: 420px;
}

.conteudo_16 .push_9 {
  left: 540px;
}

.conteudo_16 .push_10 {
  left: 600px;
}

.conteudo_16 .push_11 {
  left: 660px;
}

.conteudo_16 .push_13 {
  left: 780px;
}

.conteudo_16 .push_14 {
  left: 840px;
}

.conteudo_16 .push_15 {
  left: 900px;
}

/* Empurrar Espaço >> Global
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .pull_3,
.conteudo_16 .pull_4 {
  left: -240px;
}

.conteudo_12 .pull_6,
.conteudo_16 .pull_8 {
  left: -480px;
}

.conteudo_12 .pull_9,
.conteudo_16 .pull_12 {
  left: -720px;
}

/* Empurrar Espaço >> 12 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_12 .pull_1 {
  left: -80px;
}

.conteudo_12 .pull_2 {
  left: -160px;
}

.conteudo_12 .pull_4 {
  left: -320px;
}

.conteudo_12 .pull_5 {
  left: -400px;
}

.conteudo_12 .pull_7 {
  left: -560px;
}

.conteudo_12 .pull_8 {
  left: -640px;
}

.conteudo_12 .pull_10 {
  left: -800px;
}

.conteudo_12 .pull_11 {
  left: -880px;
}

/* Empurrar Espaço >> 16 Colunas
----------------------------------------------------------------------------------------------------*/

.conteudo_16 .pull_1 {
  left: -60px;
}

.conteudo_16 .pull_2 {
  left: -120px;
}

.conteudo_16 .pull_3 {
  left: -180px;
}

.conteudo_16 .pull_5 {
  left: -300px;
}

.conteudo_16 .pull_6 {
  left: -360px;
}

.conteudo_16 .pull_7 {
  left: -420px;
}

.conteudo_16 .pull_9 {
  left: -540px;
}

.conteudo_16 .pull_10 {
  left: -600px;
}

.conteudo_16 .pull_11 {
  left: -660px;
}

.conteudo_16 .pull_13 {
  left: -780px;
}

.conteudo_16 .pull_14 {
  left: -840px;
}

.conteudo_16 .pull_15 {
  left: -900px;
}

/* Limpar Elementos Flotoantes (Pular Linha)
----------------------------------------------------------------------------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear10 {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  padding-bottom: 10px; 
}

.clearfix:before,
.clearfix:after,
.conteudo_12:before,
.conteudo_12:after,
.conteudo_16:before,
.conteudo_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.conteudo_12:after,
.conteudo_16:after {
  clear: both;
}

.clearfix,
.conteudo_12,
.conteudo_16 {
  zoom: 1;
}                                        
/*  Relatórios  */
.relatorio .titulo{
    font-size: 13px;
    font-style: normal;
}
.relatorio .titulo hr{
    color: #fff;
    background-color: #8B8989;
    height: 4px;    
}
.relatorio .corpo{
    
}
.relatorio .corpo hr{
    border: 0.3px solid #8B8989
}

